[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym-showdown = {editable = true, path = "./../gym-showdown"}
click = "*"
spinup = {editable = true, path = "./../spinningup"}

[requires]
python_version = "3.6"

[dev-packages]
black = "*"
